name: publish

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build-image:
    name: Build User Code
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ghcr.io/pluralsh/plural-etl
        tags: |
          type=semver,pattern={{version}}
          type=semver,pattern={{raw}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build the user_code Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        file: ./dockerfiles/Dockerfile.user
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - name: installing plural
      uses: pluralsh/setup-plural@v0.1.5
      with:
        config: ${{ secrets.PLURAL_CONF }}
        vsn: 0.6.18
    - name: deploy to dagster
      run: cat upgrade.yaml | envsubst | plural upgrade plural dagster -f -
  release:
    name: Create GitHub release
    runs-on: ubuntu-20.04
    needs: [build-image]
    permissions:
      contents: write
      discussions: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Check if RC
      id: check
      run: |
        if [[ ${{ github.ref }} == refs/tags/*rc* ]]; then
          echo "RC detected, creating pre-release"
          echo "RC=true" >> $GITHUB_OUTPUT
        else
          echo "No RC detected, creating release"
          echo "RC=false" >> $GITHUB_OUTPUT
        fi
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        generate_release_notes: true
        prerelease: ${{ steps.check.outputs.RC }}